body {
    background-color: rgb(231, 247, 242);
}

li {}

.list {
    display: flex;
    gap: 10px;
}

.box-container
 {
    background-color: aqua;
    border: 1px solid black;
    text-align: center;
        display: flex;

    gap:10px;
    

    align-items: center;
    flex-wrap: wrap;
}

.box {
    text-align: center;
    
}


img {
      width: 180px;
    height: 120px;
    object-fit: cover;
}

button {
display: flex;
padding: 5px;
margin: 10px;;

}